<!-- ====================================================
	header section -->
	<header class="" >
	
			<div class="row" *ngIf="varvar">
				<div class="col-xs-5 header-logo">
					<br>
					<a href="index.html"><img src="assets/img/MYlogo3T.png" alt="" class="img-responsive logo"></a>
				</div>
				<div class="col-md-7">
					<nav class="navbar navbar-default">
					
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      
					      <ul class="nav navbar-nav navbar-right">
<!-- 					      <ul class="nav navbar-right"> -->
					        <li> <a class="menu " [routerLink]="['/home']" >Home</a> </li>
					        <li> <a class="menu" [routerLink]="['/about']">about us</a> </li>
					        <li> <a class="menu" [routerLink]="['/services']">our services </a> </li>
					        <li> <a class="menu" [routerLink]="['/team']">our team</a> </li>
					        <li> <a class="menu" [routerLink]="['/contact']"> contact us</a> </li>
					        <li> <a class="menu active" [routerLink]="['/login']"> Login</a> </li>
					        <li> <a class="menu" href="http://localhost:54321/rest/service/shutdown" > Shutdown</a> </li>
					     </ul>
					    </div><!-- /navbar-collapse -->
					    
					  </div><!-- / .container-fluid -->
					  
					</nav>
				</div>				
			</div>
			
	</header> <!-- end of header area -->  
	
<div id="content">
  <div class="">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>

  
  

